:root {
    --main-color: white;
    --main-bg-color:#F6F6F6 ;
    --secondary-bg-color: #F3F3F3;
    --card-bg-color: white;
    --footer-bg-color:#353535;
    --location-color:#353535;
    --location-bg-color:#EAEAEA;
    --footer-font-color:white;
    --button-font-color:white;
    --purple:#9356DC ;
    --blue2: #003A68;
    --blue: #89C8FA;
    --greenfont: #008766;
    --green:#99E2D0;
    --pink:#fcc0ce;
    --pink-button:#ff79da;
    --shadow-color: #00000040 ;
    --button-hover-shadow-color: #00000059;
    --grey-icon:#7E7E7E;
    --main-font-color: #000000;
    --duration: 0s;
}