@mixin icon {
    margin-right: 20px;
}

@mixin hearts {
    position: absolute;
    right: 20px;
    top: 250px;
    border: none;
    font-size: 21px;
}


.grey-icon {
    @include icon;
    color: var(--grey-icon);
}

.purple-icon {
    @include icon;
    color: var(--purple);
}