@import url("style_var.css");

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 

@keyframes heart-filler {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loader-display {
    0% {
        opacity: 1;
        z-index: 1000;
    }
    99% {
        opacity: 1;
        z-index: 1000;
    }
    100% {
        opacity: 0;
        z-index: -1000;
        overflow: hidden;
        visibility:hidden;
    }
}

@keyframes green-check-slider-in {
    0% {
        width: 100%;
    }
    100% {
        width: calc(100% - 110px);
    }
}

@keyframes green-check-slider-out {
    0% {
        width: calc(100% - 110px);
    }
    100% {
        width: 100%;
    }
}

@keyframes menu-displayer {
    0% {
        scale: 0;
        opacity: 0;
        visibility:visible;
    }
    100% {
        scale: 1;
        opacity: 1;
        visibility:visible;
    }
}